<section class="inline-center content-margin">
  <h1>Login</h1>
  <form>
    <div class="content-margin">
      <input type="text" class="text text-lg" placeholder="ID" />
    </div>
    <div class="content-margin">
      <input type="text" class="text text-lg" placeholder="PASSWORD" />
    </div>
    <div class="content-margin button-group">
      <button type="submit" class="button button-lg">Login</button>
      <button type="button" class="button button-lg" routerLink="../join">Join</button>
    </div>
  </form>
</section>