<section class="content-margin">
  <h1 class="inline-center">Profile</h1>
  <div class="content-margin border-box">
    <span>ID : </span>
  </div>
  <div class="content-margin border-box">
    <span>EMAIL : </span>
  </div>
  <div class="content-margin border-box">
    <span>NICKNAME : </span>
  </div>
  <div class="content-margin border-box">
    <span>PICTURE : </span>
  </div>
  <div class="content-margin border-box">
    <span>REGDATE : </span>
  </div>
  <div class="content-margin inline-center">
    <button type="button" class="button button-lg" (click)="back()">CANCEL</button>
  </div>
</section>