<section class="content-margin">
  <h1>Board Reg</h1>
  <!-- <form (ngSubmit)="onSubmit()" novalidate> -->
    <div class="content-margin">
      <input name="title" type="text" class="text text-lg" placeholder="TITLE" [(ngModel)]="title" />
    </div>
    <div class="content-margin">
      <app-ngx-editor height="300px" [spellcheck]="true" [(ngModel)]="htmlContent"></app-ngx-editor>
    </div>
    <div class="content-margin button-group inline-center">
      <button type="button" class="button button-lg" (click)="onSubmit()">Update</button>
      <button type="button" class="button button-lg">Back</button>
    </div>
  <!-- </form> -->
  <pre>
    {{htmlContent}}
  </pre>
</section>