<section class="inline-center content-margin">
  <h1>Join</h1>
  <form [formGroup]="memberForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="content-margin">
      <input type="text" name="id" class="text text-lg" placeholder="ID" formControlName="id" />
    </div>
    <div formGroupName="passwordGroup">
      <div class="content-margin">
        <input name="password" type="password" class="text text-lg" placeholder="PASSWORD" formControlName="password" />
      </div>
      <div class="content-margin">
        <input name="confirmPassword" type="password" class="text text-lg" placeholder="CONFIRM PASSWORD" formControlName="confirmPassword" />
      </div>
    </div>
    <div class="content-margin">
      <input name="email" type="text" class="text text-lg" placeholder="EMAIL" formControlName="email" />
    </div>
    <div class="content-margin">
      <input name="nickname" type="text" class="text text-lg" placeholder="NICKNAME" formControlName="nickname" />
    </div>
    <div class="content-margin">
      <label>BIRTH </label>
      <input name="birth" class="text text-nm" type="date" formControlName="birth">
    </div>
    <div class="content-margin">
      <label>PROFILE PICTURE </label>
      <input name="pictrue" type="file" class="hidden" (change)="onFileChange($event)">
      <button type="button" (click)="openFileBrowser($event)" class="button button-lg">SELECT</button>
    </div>
    <div>
      <img [src]="url" height="200">
    </div>
    <div class="content-margin button-group">
      <button type="submit" class="button button-lg" [disabled]="memberForm.invalid">SUBMIT</button>
      <button type="button" class="button button-lg" (click)="back()">CANCEL</button>
    </div>
  </form>
  <pre>{{ memberForm.value | json }}</pre>
  <pre>{{ memberForm.status }}</pre>
</section>